.hand-details {
    margin-left: 170px;
    .sort-btn {
        border-radius: 5%;
        border: solid 1px black;
        background-color: white;
        width: 100px;
        font-style: bold;
        font-weight: bold;
    }
}