
.deck-container
{
  margin-left: 20px;
  width: 30%;
.shuffle-btn
{
  border-radius: 5%;
  border: solid 1px black;
  background-color: white;
  margin-left: 20px;
  width: 100px;
  font-style: bold;
  font-weight: bold;
}
}